.banner {
	background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%), url(https://www.vetocanis.com/cdn/shop/products/balle-chien-play-dtrong-6_1_2048x2048.png?v=1677853089);
	color: whitesmoke;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}
.banner h1 {
	font-size: 45px;
	color: white;
}
.banner h2 {
	font-size: 30px;
	font-weight: bolder;
	opacity: 0.8;
	margin-bottom: 30px;

}